<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIL</title>
    <link rel='stylesheet' href='/css/main.css'>
    <script defer src="/js/app.js"></script>
</head>
<body>
    <form action="/mail" method="POST">
        <label class="field">
            <input autocomplete="off" autofocus required id="email" name="email" type="email" class="field__input" placeholder="Email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
        </label>
        <button type="submit">SEND</button>
    </form>
    <button class="btn">VERIFY</button>
</body>
</html>